body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #e6e2e2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav-links{
    display: flex;
    gap: 5px;
  }
  .enter{
    display: flex;
  gap: 5px;

  }
  .redirect-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.redirect-button:hover {
    background-color: #0056b3;
}
